<style>
    button{
        position:relative;
        float:right;
        margin:10px 8px;
        padding:8px 20px;
        font-size:16px;
        font-family:sans-serif;
        border-radius:120px;
        background-color:purple;
    }
    .btn{
        border: 2px solid purple;
    }
    .btn1{
        border: 2px solid purple;
        background-color:white;
    }
    .btn>a{
        text-decoration:none;
        color:white;
        font-weight:500;
    }
    .btn1>a{
        text-decoration:none;
        color:purple;
        font-weight:500;
    }
    .header{
        display:grid;
        height:100vh;
        width:100vw;
        place-items : center;
    }
    
</style>
<body>
<div>
    <button class="btn1"><a href='/signup'>Sign up</a></button>
    <button class="btn"><a href='/login'>Log in</a></button>
</div>
<div class="header">
    <h1>Home Page</h1>
</div>
</body>